<ion-view hide-nav-bar="true" cache-view="false"> 
      <ion-content class="login" >
        <form novalidate name="LoginForm">
          <div class="list list-inset">
            <label class="item item-input">
              <input
                  type="text"
                  placeholder="Usuario"
                  required
                  ng-model="vm.credentials.username">
            </label>
            <label class="item item-input">
              <input
                  type="password"
                  placeholder="Contraseña"
                  required
                  ng-model="vm.credentials.password">
            </label>
          </div>
          <div class="padding">
            <button
               class="button button-block button-dark"
	       ng-disabled="LoginForm.$invalid"
	       ng-click="vm.login(vm.credentials)"
               ng-autodisable>
               Login
           </button>
	   <button class="button buttion-lock button-dark" ui-sref="users.register"> 
		Registrarse
	    </button>
          </div>
        </form>
      </ion-content>
</ion-view>
