<ion-view view-title="Registro">
    <ion-header-bar class="bar-dark">
	<a class="button icon-left ion-chevron-left button-clear" ui-sref="login"></a>	
	<h1 class="title">Registro</h1>	
    </ion-header-bar>
    <ion-content class="has-header" >
    	<div class="list list-inset " >
		<label class="item item-input {{ vm.errors['username']}}">
		 <i class="icon ion-person placeholder-icon"></i>
		 <input type="text" required placeholder="username" ng-model="vm.user.username"/>
	    </label>
	    <label class="item item-input">
		<i class="icon ion-email placeholder-icon"></i>
		<input type="text" required placeholder="email@email.com" ng-model="vm.user.email"/>
	    </label>
	    <label class="item item-input {{ vm.errors['password'] }}">
		 <i class="icon ion-locked placeholder-icon"></i>   
		 <input type="password"  required placeholder="password" ng-model="vm.user.password" />
	    </label>
	    <label class="item item-input {{ vm.errors['password']}}">
		 <i class="icon ion-locked placeholder-icon"></i>   
		 <input type="password" required placeholder="password confirmation" ng-model="vm.user.password_confirmation"/>
	      </label>
	   </div>
	   <div class="padding">
		  <button
			class="button button-block button-positive"
			 ng-click="vm.register(vm.user)">
	       	   Registrarse
	           </button>
	   </div>
	 
    </ion-content>
</ion-view>

